@tailwind base;
@tailwind components;
@tailwind utilities;

li, ul, p, button {
  font-family: "Coming Soon", cursive;
  font-family: "Oswald", sans-serif;
}

h2,
h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}